// =============================================================================
// Mastheads
// =============================================================================

// Masthead
// -----------------------------------------------------------------------------
//
// Purpose: Standard Masthead
//
//
// 1.
//
// -----------------------------------------------------------------------------

.c-masthead {
    background-color: $color-masthead-bg;
    min-height: 816px;
    height: 75vh;

    .container-full,
    .row {
        height: 100%;
    }

    .container {
        @include vertical-center(absolute);
        left: 0;
        right: 0;
    }
}

.c-masthead__image-container {
    @include make-col(7);
    height: 100%;
    overflow: hidden;
}

.c-masthead__image {
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    transform: scale(1.2);
    transition: transform 1s ease-out;

    &.is-inview {
        transform: scale(1);
    }
}

.c-masthead__content-container {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(sm) {
        @include make-col(11);
        @include make-col-offset(0.5);
    }

    @include media-breakpoint-up(md) {
        @include make-col(10);
        @include make-col-offset(1);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(5);
        @include make-col-offset(8);
    }
}

.c-masthead__icon-container {
    @include make-col-ready();
    @include make-col(8);
    margin-bottom: 60px;

    img {
        position: relative;
        left: -20px;
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.c-masthead__title-container {
    @include make-col-ready();
    @include make-col(8);

    strong {
        font-weight: 700;
    }
}

.c-masthead__summary-container {
    @include make-col-ready();
    @include make-col(8);
    margin-top: $unit-small;

    @include media-breakpoint-up(md) {
        margin-top: 30px;
    }
}

.c-masthead__link-container {
    @include make-col-ready();
    @include make-col(8);
    margin-top: $unit-small;

    @include media-breakpoint-up(md) {
        margin-top: 90px;
    }

    a {
        @include font-size(1.2);
        font-weight: 700;
        line-height: 140%;
        text-decoration: none;
        text-transform: uppercase;
    }
}

// Masthead Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default masthead
//
//
// 1. Removes the margin from the top & bottom of the masthead
//
// -----------------------------------------------------------------------------

// 1
.c-masthead--nomargin {
    margin-bottom: 0;
    margin-top: 0;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.line-outter {
    overflow: hidden;
}

.line-inner {
    transform: translateY(200%);
    transition: transform 1s ease-out;

    &.is-inview {
        transform: translateY(0%);
        transition: transform 1s ease-out;
    }
}

body {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.is-hidden {
    opacity: 0;
}
// =============================================================================
// Content
// =============================================================================

// Content
// -----------------------------------------------------------------------------
//
// Purpose: Content
//
//
// 1.
//
// -----------------------------------------------------------------------------

.c-content {
    @include global-component-margins;
}

.c-content__content-container {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(md) {
        @include make-col(10);
        @include make-col-offset(1);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(8);
        @include make-col-offset(2);
    }
}

.c-content__title-container {
    @include make-col-ready();
    @include make-col(12);
}

.c-content__summary-container {
    @include make-col-ready();
    @include make-col(12);
    margin-top: $unit;
}

// Content Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default content
//
//
// 1. Removes the margin from the bottom of the content
//
// -----------------------------------------------------------------------------

// 1
.c-content--nomargin {
    margin-bottom: 0;
    margin-top: 0;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
        margin-top: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
