// =============================================================================
// Mastheads
// =============================================================================

// Masthead
// -----------------------------------------------------------------------------
//
// Purpose: Standard Masthead
//
//
// 1.
//
// -----------------------------------------------------------------------------

.c-masthead {
    @include global-component-margins;
    background-color: $color-masthead-bg;
    background-position: center center;
    background-size: cover;
    padding: $unit-large 0;

    @include media-breakpoint-up(md) {
        padding: $unit-xxlarge 0;
    }
}

.c-masthead__content-container {
    @include make-col-ready();
    @include make-col(12);
    @include text-center;

    @include media-breakpoint-up(sm) {
        @include make-col(11);
        @include make-col-offset(0.5);
    }

    @include media-breakpoint-up(md) {
        @include make-col(10);
        @include make-col-offset(1);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(9);
        @include make-col-offset(1.5);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(8);
        @include make-col-offset(2);
    }

    @include media-breakpoint-up(xxl) {
        @include make-col(7);
        @include make-col-offset(2.5);
    }
}

.c-masthead__title-container {
    @include make-col-ready();
    @include make-col(12);
}

.c-masthead__summary-container {
    @include make-col-ready();
    @include make-col(12);
    margin-top: $unit-small;

    @include media-breakpoint-up(md) {
        margin-top: $unit;
    }
}

// Masthead Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default masthead
//
//
// 1. Removes the margin from the top & bottom of the masthead
//
// -----------------------------------------------------------------------------

// 1
.c-masthead--nomargin {
    margin-bottom: 0;
    margin-top: 0;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.line-outter {
    overflow: hidden;
}

.line-inner {
    transform: translateY(200%);
    transition: transform 1s ease-out;

    &.is-inview {
        transform: translateY(0%);
        transition: transform 1s ease-out;
    }
}

body {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.is-hidden {
    opacity: 0;
}
// =============================================================================
// Content
// =============================================================================

// Content
// -----------------------------------------------------------------------------
//
// Purpose: Content
//
//
// 1.
//
// -----------------------------------------------------------------------------

.c-content {
    @include global-component-margins;
}

.c-content__content-container {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(md) {
        @include make-col(10);
        @include make-col-offset(1);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(8);
        @include make-col-offset(2);
    }
}

.c-content__title-container {
    @include make-col-ready();
    @include make-col(12);
}

.c-content__summary-container {
    @include make-col-ready();
    @include make-col(12);
    margin-top: $unit;
}

// Content Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default content
//
//
// 1. Removes the margin from the bottom of the content
//
// -----------------------------------------------------------------------------

// 1
.c-content--nomargin {
    margin-bottom: 0;
    margin-top: 0;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
        margin-top: 0;
    }
}
