// =============================================================================
// Colour Settings
// =============================================================================

// Brand Colours
// -----------------------------------------------------------------------------
//
// Purpose: All the colours used throughout the site
//
//
// 1. Brand colours (always use sequence names for the brand colours e.g. primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary)
// 1. We don't want any colours specified by name apart from - black, white & grey (light/dark variations are fine)
// 2. Other global colours
// 3. Social brand colours
//
// -----------------------------------------------------------------------------

// 1
$color-black: #000000;
$color-brand-primary: #000000;
$color-brand-secondary: #cccccc;
$color-grey: #aaaaaa;
$color-white: #ffffff;

// 2
$color-validation-error: #ff0000;
$color-validation-success: #008000;

// 3
$color-social-facebook: #3b5998;
$color-social-twitter: #1da1f2;
$color-social-linkedin: #0077b5;
$color-social-instagram: #405de6;
$color-social-youtube: #cd201f;
$color-social-pinterest: #bd081c;

// Page
// -----------------------------------------------------------------------------
//
// Purpose: All the global page level colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-page-bg: $color-white;
$color-page-text: $color-black;
$color-page-text-selection-bg: $color-black;
$color-page-text-selection-text: $color-white;

// Buttons
// -----------------------------------------------------------------------------
//
// Purpose: All the button colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-btn-text: $color-black;
$color-btn-hover-bg: $color-black;
$color-btn-hover-text: $color-white;
$color-btn-primary-bg: $color-brand-primary;
$color-btn-primary-hover-bg: transparent;
$color-btn-primary-hover-text: $color-black;
$color-btn-primary-text: $color-white;
$color-btn-secondary-bg: $color-brand-secondary;
$color-btn-secondary-hover-bg: transparent;
$color-btn-secondary-hover-text: $color-black;
$color-btn-secondary-text: $color-white;

// Selects
// -----------------------------------------------------------------------------
//
// Purpose: All the select (dropdown) colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-select-hover-bg: $color-black;
$color-select-hover-text: $color-white;
$color-select-option-bg: $color-white;
$color-select-text: $color-black;

// Forms
// -----------------------------------------------------------------------------
//
// Purpose: All the form colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-form-checkbox-label-link-text: $color-brand-secondary;
$color-form-input-bg: $color-white;
$color-form-input-border: $color-black;
$color-form-input-focus: $color-black;
$color-form-input-text: $color-black;
$color-form-validation-bg-error: rgba($color-validation-error, 0.1);
$color-form-validation-border-error: $color-validation-error;
$color-form-validation-text-error: $color-validation-error;
$color-form-validation-bg-success: rgba($color-validation-success, 0.1);
$color-form-validation-border-success: $color-validation-success;
$color-form-validation-text-success: $color-validation-success;

// Accordion
// -----------------------------------------------------------------------------
//
// Purpose: All the accordion colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-accordion-heading-bg: $color-black;
$color-accordion-heading-text: $color-white;

// Blockquote
// -----------------------------------------------------------------------------
//
// Purpose: All the blockquote colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

// Blog Article
// -----------------------------------------------------------------------------
//
// Purpose: All the blog article colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-blog-article-progress-bar-bg: $color-black;

// Blog Listing
// -----------------------------------------------------------------------------
//
// Purpose: All the blog listing colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-blog-listing-header-border: $color-grey;

// Cookie Bar
// -----------------------------------------------------------------------------
//
// Purpose: All the cookie bar colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-cookiebar-bg: $color-black;
$color-cookiebar-text: $color-white;

// CTA
// -----------------------------------------------------------------------------
//
// Purpose: All the CTA colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

// Listing
// -----------------------------------------------------------------------------
//
// Purpose: All the listing colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-listing-item-bg: $color-grey;

// Masthead
// -----------------------------------------------------------------------------
//
// Purpose: All the masthead colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-masthead-bg: #dfd2c2;

// Navbar
// -----------------------------------------------------------------------------
//
// Purpose: All the navbar colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-navbar-links-bg: $color-brand-secondary;

// Navbar
// -----------------------------------------------------------------------------
//
// Purpose: All the navbar colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-newsletter-signup-bg: $color-brand-secondary;

// Pagination
// -----------------------------------------------------------------------------
//
// Purpose: All the pagination component colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-pagination-highlight: $color-black;

// Tabs
// -----------------------------------------------------------------------------
//
// Purpose: All the tabs component colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-tabs-bg: $color-black;
$color-tabs-bg-active: $color-white;
$color-tabs-color: $color-white;
$color-tabs-color-active: $color-black;

// Footer
// -----------------------------------------------------------------------------
//
// Purpose: All the footer colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-footer-legal-border: $color-black;

// Carousel
// -----------------------------------------------------------------------------
//
// Purpose: All the carousel colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-carousel-dots-active-bg: $color-black;
$color-carousel-dots-bg: $color-brand-secondary;
$color-carousel-slide-bg: $color-brand-secondary;

// Search Results
// -----------------------------------------------------------------------------
//
// Purpose: All the search results colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-searchresults-result-bg: $color-brand-secondary;
$color-searchresults-result-hover-bg: $color-grey;
