// =============================================================================
// Headings & Paragraph
// =============================================================================

// Headings & Paragraph styles
// -----------------------------------------------------------------------------
//
// Purpose: We define all our heading & p styles here so the classes & mixins can be used throughout our site
//
//
// 1. Heading (using a 0.5 scale for each breakpoint)
// 2. Heading Extra Large (using a 0.5 scale for each breakpoint)
// 3. Heading Large (using a 0.5 scale for each breakpoint)
// 4. Heading Small (using a 0.2 scale for each breakpoint)
// 5. Paragraph (using a 0.1 scale for each breakpoint)
// 6. Paragraph Large (using a 0.2 scale for each breakpoint)
// 7. Paragraph Small (using a 0.1 scale for each breakpoint)
//
// -----------------------------------------------------------------------------

// 1
@mixin heading() {
    @include font-general-san-var;
    @include font-size(1.5);
    line-height: 120%;

    @include media-breakpoint-up(sm) {
        @include font-size(2);
    }

    @include media-breakpoint-up(md) {
        @include font-size(2.5);
    }

    @include media-breakpoint-up(lg) {
        @include font-size(2.5);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(3);
    }
}

.heading {
    @include heading;
}

// 2
@mixin heading-xlarge() {
    @include font-general-san-var;
    @include font-size(2.5);
    line-height: 120%;

    @include media-breakpoint-up(sm) {
        @include font-size(3);
    }

    @include media-breakpoint-up(md) {
        @include font-size(4.5);
    }

    @include media-breakpoint-up(lg) {
        @include font-size(5);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(5.5);
    }

    @include media-breakpoint-up(xxl) {
        @include font-size(4.7);
    }
}

.heading-xlarge {
    @include heading-xlarge;
}

// 3
@mixin heading-large() {
    @include font-general-san-var;
    @include font-size(2);
    line-height: 120%;

    @include media-breakpoint-up(sm) {
        @include font-size(2.5);
    }

    @include media-breakpoint-up(md) {
        @include font-size(3);
    }

    @include media-breakpoint-up(lg) {
        @include font-size(3.5);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(4);
    }

    @include media-breakpoint-up(xxl) {
        @include font-size(4.5);
    }
}

.heading-large {
    @include heading-large;
}

// 4
@mixin heading-small() {
    @include font-general-san-var;
    @include font-size(1.3);
    line-height: 120%;

    @include media-breakpoint-up(sm) {
        @include font-size(1.5);
    }

    @include media-breakpoint-up(md) {
        @include font-size(1.7);
    }

    @include media-breakpoint-up(lg) {
        @include font-size(1.9);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(2.1);
    }
}

.heading-small {
    @include heading-small;
}

// 5
@mixin para() {
    @include font-size(1.4);
    line-height: 140%;

    @include media-breakpoint-up(sm) {
        @include font-size(1.5);
    }

    @include media-breakpoint-up(md) {
        @include font-size(1.6);
    }
}

p {
    @include para;
}

// 6
@mixin para-large() {
    line-height: 140%;
    @include font-size(1.4);

    @include media-breakpoint-up(md) {
        @include font-size(1.4);
    }
}

.para-large {
    @include para-large;
}

// 7
@mixin para-small() {
    line-height: 140%;
    @include font-size(1.2);

    @include media-breakpoint-up(sm) {
        @include font-size(1.3);
    }

    @include media-breakpoint-up(md) {
        @include font-size(1.4);
    }
}

.para-small {
    @include para-small;
}
