// =============================================================================
// Page
// =============================================================================

// Page level styling
// -----------------------------------------------------------------------------
//
// Purpose: Page level styling
//
//
// 1. This allows us to use em & rem as pixel measurements. E.g. 1.1em equals 11px
// 2. Body background colour
// 3. Overall text colour
// 4. Default font
// 5. Text selection styles
//
// -----------------------------------------------------------------------------

html {
    font-size: 62.5%; // 1

    // 5
    ::-moz-selection {
        color: $color-page-text-selection-text;
        background: $color-page-text-selection-bg;
    }

    ::selection {
        color: $color-page-text-selection-text;
        background: $color-page-text-selection-bg;
    }
}

body {
    @include font-general-san-var; // 4
    background-color: $color-page-bg; // 2
    color: $color-page-text; // 3
}
