<section class="c-masthead @@class">
    <div class="container">
        <div class="row">
            <div class="c-masthead__content-container">
                <div class="row">
                    <div class="c-masthead__title-container">
                        <h1 class="c-masthead__title heading-large js-line-splitting1">@@title</h1>
                    </div>

                    @@if(description) {
                        <div class="c-masthead__summary-container cms-content">
                            <p class="para-large js-line-splitting2">@@description</p>
                        </div>
                   }
                </div>
            </div>
        </div>
    </div>
</section>
