<section class="c-masthead @@class" data-scroll-section>
    <div class="container-full">
        <div class="row">
            <div class="c-masthead__image-container">
                <div class="c-masthead__image lazyload" data-bgset="https://www.fillmurray.com/640/690 [(min-width: 1200px)] |
                https://www.fillmurray.com/640/690 [(min-width: 768px)] |
                https://www.fillmurray.com/640/690 [(min-width: 300px)]"></div>
                
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="c-masthead__content-container">
                    <div class="row">
                        <div class="c-masthead__icon-container">
                            <img src="../resources/images/orta-logo.svg" />
                        </div>
                        <div class="c-masthead__title-container">
                            <h1 class="c-masthead__title heading-xlarge js-line-splitting">
                                <strong>Vestalia</strong><br> A Thoughtful Collection
                            </h1>
                        </div>
                        <div class="c-masthead__summary-container cms-content">
                            <p class="para-large js-line-splitting">A Vestalia home is a tastefully curated gallery for works of ground breaking design, old and new.</p>
                        </div>
                        <div class="c-masthead__link-container">
                            <a href="/" class="js-line-splitting">Shop all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
