// =============================================================================
// Aliases
// =============================================================================

// Unit aliases
// -----------------------------------------------------------------------------
//
// Purpose: Map some nicer/shorter aliases to make things a little easier to work with.
//
//
// 1.
//
// -----------------------------------------------------------------------------

$unit-xxsmall:                                          $global-spacing-unit-xxsmall;
$unit-xsmall:                                           $global-spacing-unit-xsmall;
$unit-small:                                            $global-spacing-unit-small;
$unit:                                                  $global-spacing-unit;
$unit-large:                                            $global-spacing-unit-large;
$unit-xlarge:                                           $global-spacing-unit-xlarge;
$unit-xxlarge:                                          $global-spacing-unit-xxlarge;